@import "tailwindcss";

@keyframes scan {
  0% { transform: translateY(-10px); opacity: 0; }
  50% { opacity: 1; }
  70% { transform: translateY(60px); opacity: 0; }
  100% { transform: translateY(160px); opacity: 0; }
}

.animate-scan {
  animation: scan 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

html {
  scroll-behavior: smooth;
}

/* Add this to every section that has an ID (e.g., #contact) */
section {
  scroll-margin-top: 80px; /* Adjust this to match your Navbar height */
}